{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>New student</h1>

    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn" value="Create"/>
        {{ form_end(form) }}

    </div>
    </div>
</div>
{% endblock %}
